Challenge2_Final_EfficientNetB0.pdf
code_DL_DT_Explore.zip
COMP691__DL_DT_Explore_Report_FINAL_rev0.pdf
Testbed_challenge1_ResNet9_gridsearch_FINAL.pdf
COMP691__DL_DT_Explore_Report.pdf
COMP691- DL_DT_Explore_Report/img/APENDIX_Triplet_SVM_result.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_challenge1_data_aug_settings.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_CodaLab_dashboard.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_DenseNet_results.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_performance_summary_sample.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_resnet18_best_result.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_resnet50_best_result.png
COMP691- DL_DT_Explore_Report/img/APPENDIX_resnext14_best_performance.png
COMP691- DL_DT_Explore_Report/img/approach.png
COMP691- DL_DT_Explore_Report/img/Cosine-Loss-Test-Set-Accuracies-Small-Datasets.png
COMP691- DL_DT_Explore_Report/img/efficientNet-B0-ScaleUp.png
COMP691- DL_DT_Explore_Report/img/efficientNet.png
COMP691- DL_DT_Explore_Report/img/image1.png
COMP691- DL_DT_Explore_Report/img/image2.png
COMP691- DL_DT_Explore_Report/img/image3.png
COMP691- DL_DT_Explore_Report/img/image4.png
COMP691- DL_DT_Explore_Report/img/image5.png
COMP691- DL_DT_Explore_Report/img/image6.png
COMP691- DL_DT_Explore_Report/img/image7.png
COMP691- DL_DT_Explore_Report/img/image8.png
COMP691- DL_DT_Explore_Report/img/image9.png
COMP691- DL_DT_Explore_Report/img/Negative_Mining.png
COMP691- DL_DT_Explore_Report/img/REPORT_challenge1_baseline_cnn.png
COMP691- DL_DT_Explore_Report/img/REPORT_challenge1_triplet_distances.png
COMP691- DL_DT_Explore_Report/img/REPORT_cosine_loss_limited_sample_sizes.png
COMP691- DL_DT_Explore_Report/img/REPORT_dagsvm.jpg
COMP691- DL_DT_Explore_Report/img/REPORT_resnet9_700epochs_no_lr_sched.png
COMP691- DL_DT_Explore_Report/img/REPORT_resnet9_bad_data_aug.png
COMP691- DL_DT_Explore_Report/img/REPORT_resnet9_Best_result_grid_vs_random_search.png
COMP691- DL_DT_Explore_Report/img/REPORT_resnet9_best_Scenario_19.png
COMP691- DL_DT_Explore_Report/img/Three-Loss_Functions.png
COMP691- DL_DT_Explore_Report/img/tl_image.png
COMP691- DL_DT_Explore_Report/img/tl_results.png
COMP691- DL_DT_Explore_Report.zip
